body{
    margin: 0;
    background: #222;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;

}
.tw-followCard{
    margin-bottom:1em ;
    transition: 3s ease background-color;
}
